* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Global styles
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0 0.5rem;
}

button {
  height: 36px;
  background-image: linear-gradient(top, #f8f9fa, #f8f9fa);
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  line-height: 27px;
  margin: 11px 4px;
  padding: 0 16px;
}

// navigation
nav,
footer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
}

footer {
  top: unset;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #dadce0;
  color: #70757a;
}

// search
.search-main {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: grid;
  align-content: center;
  font-size: 14px;

  .search-article {
    text-align: center;
    width: 100%;
  }

  img {
    padding-bottom: 2rem;
  }

  .search-form {
    padding-bottom: 2rem;
    margin: 0 auto;
    max-width: 484px;
  }
  .fake-input {
    width: 100%;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
  }
  input {
    width: 90%;
    height: 99%;
    border: none;
  }
  input:focus {
    outline: none;
  }
}

// advanced search
.advanced-main {
  margin-top: 3rem;
  display: grid;
  align-content: center;
  font-size: 14px;

  h2 {
    margin-top: 1rem;
    padding: 2rem;
    color: #d93025;
    border-bottom: 1px solid #dadce0;
  }

  article {
    width: 90%;
    h4 {
      padding: 2rem;
      font-weight: 300;
      font-size: 1rem;
    }
    form {
      padding-left: 2rem;
    }
    .form-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      input {
        height: 29px;
        width: 70%;
        min-width: 380px;
        border: 1px solid #d9d9d9;
      }
    }
  }
  .advanced-search-button {
    background: #4d90fe;
    color: white;
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    font-size: 0.8rem;
    float: right;
  }
}

.nav-advanced {
  background: #f1f1f1;

  img {
    height: 30px;
    padding-left: 20px;
  }
}
